/* src/App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: white;
}

.navbar-logo {
  font-size: 1.5rem;
}

.navbar-links a, .navbar-icons a {
  color: white;
  margin-left: 1rem;
  text-decoration: none;
  position: relative;  /* For underline effect */
}

.navbar-links a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: white;
  transition: width 0.3s;
}

.navbar-links a:hover::after {
  width: 100%;
}

.navbar-icons i {
  font-size: 1.2rem;
}

.navbar-links a:hover, .navbar-icons a:hover {
  color: #ff6347;  /* Change this color to your desired hover color */
}

.home {
  text-align: center;
  padding: 2rem;
}

.home h1 {
  margin-bottom: 2rem;
}

.projects {
  display: flex;
  justify-content: space-around;
}

.project img {
  width: 100%;
  max-width: 300px;
  height: auto;
}
